@charset "UTF-8";

/* Pequenas Telas: até 600px;
Celular: de 600px até 768px; */

:root {
    --white:    #FFFFFF;
    --tiffany:  #78D8C0;
    --light:    #03B5AA;
    --persian:  #049A8F;
    --pine:     #037971;
    --midnight: #023436;
    --black:    #000000;
    --red:      #ff0000;

    --font: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box; 
    margin: 0px; 
    padding: 0px;
}
body {
    background-image: linear-gradient(var(--tiffany), var(--persian));
} 
/* HEADER */
header {
    background-color: var(--midnight);
    font-family: var(--font);
}
span#burguer {
    color: var(--tiffany);
    cursor: pointer;
    display: block;
    padding: 10px;
    text-align: center;
}
nav {
    display: none;
}
nav > ul {
    list-style-type: none;
}
nav > ul > p {
    background-color: var(--tiffany);
    color: var(--midnight);
    font: bolder 1em var(--font);
    padding: 10px;
    text-align: center;
    letter-spacing: 5px;
}
nav > ul > li > a {
    background-color: var(--pine);
    border-top: 1px solid var(--light);
    color: var(--white);
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
nav > ul > li > a:hover {
    background-color: var(--light);
}
/* MAIN */
main {
    background-color: var(--white);
    font-family: var(--font);
    padding: 20px; 
    text-align: justify;
    width: 100%;
}
main h1 {
    color: var(--red);
    font-size: 1.3em;
    margin: 20px 0px;
    text-align: center;
}
main h2 {
    font-size: 1.3em;
    padding: 10px 0px;
}
main p {
    font-size: 0.9em;
    line-height: 1.5em;
    margin-bottom: 10px;
}
main div {
    margin-bottom: 10px;
    text-align: center;
}
main mark {
    padding: 0px 10px;
}
main ul {
    margin-bottom: 10px;
}
main ul > li {
    font-size: 0.9em;
    list-style-position: inside;
}
/* TABLE */
table {
    border-collapse: collapse;
    margin: auto;
}
table th, td {
    border: 1px solid var(--midnight);
    padding: 10px;
    text-align: center;
    width: 40%;
}
table th {
    background-color: var(--tiffany);
}

/* FOOTER */
footer {
    background-color: rgba(2, 52, 54, 0.833);
    width: 100vw;

    display: grid;
    place-items: center;
    position: fixed;
    bottom: 0;
}
footer a > img {
    border-radius: 50%;
    margin: 10px 0px;
    height: 40px;
    width: 40px;
}

@media screen and (min-width: 850px) {
    nav {
        columns: 3;
    }
    main {
        margin: auto;
        margin-bottom: 20px;
        padding: 40px;
        width: 70%;
    }
    main a {
        color: var(--red);
        text-decoration: none;
    }
    footer {
        position: relative;

    }
    footer a > img {
        height: 40px;

        position: absolute;
        position: fixed;
        bottom: 20px;
        right: 50px;
    }
}