@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');
@font-face {
    font-family: 'Smile';
    src: url('../font/Sweets\ Smile.ttf') format('truetype');
}
@font-face {
    font-family: 'Party';
    src: url('../font/PartybyTom.TTF') format('truetype');
}
@font-face {
    font-family: 'Soul';
    src: url('../font/SoulBillani.otf') format('opentype');
}
:root {
    --color0: #ffffff;
    --color1: #B6CEDB;
    --color2: #74B7DB;
    --color3: #217AA9; 
    --color4: #5D93B0;
    --color5: #244180;
    --color6: #000000;

    --font0: Verdana, Geneva, Tahoma, sans-serif;
    --font1: 'Smile';
    --font2: 'Party';
    --font3: 'Soul';
    --font4: 'Anonymous Pro', monospace;
}
/* TAGS CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* HEADER */
header {
    background-color: var(--color3);
    height: 30vh;
    padding: 2%;
    text-align: center;
}
header>h1 {
    color: var(--color0);
    font: 2.5em var(--font1);
}
header>p {
    color: var(--color0);
    font-family: var(--font0);
}
header>nav {
    margin: 2% 0;
}
header nav a>button {
    background-color: var(--color1);
    border: none;
    border-radius: 5px;
    color: var(--color6);
    font: bold 1em var(--font4);
    margin: 0 1%;
    padding: 5px 10px;
}
header nav a>button:hover {
    background-color: var(--color4);
    color: var(--color0);
    text-decoration: underline;
}
/* MAIN */
main {
    background-color: var(--color0);
}
main>h1 {
    font: 2.5em var(--font2);
    letter-spacing: 5px;
    padding: 2% 0;
    text-align: center; 
}
main>h1:hover {
    color: var(--color3); 
}
section {
    background-color: var(--color2);
    border: 1px solid var(--color6);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 2%;
    padding: 2%;
    width: 90%;
}
section>h2 {
    color: var(--color6);
    font: 1.1em var(--font3);
    letter-spacing: 3px;
    text-align: center;
}
section>p {
    color: var(--color0);
    font: 0.9em var(--font0);
    padding: 3px 0px;
    text-align: justify;
    line-height: 20px;
}
section strong {
    color: var(--color5);
    font: bold 1em var(--font1);
}
section a {
    color: var(--color5);
    font: bold 1em var(--font1);
    text-decoration: none;
}
section p.shorthand {
    background-color: var(--color3);
    color: var(--color0);
    font: 0.9em var(--font0);
    padding: 3px 0px;
    text-align: justify;
    line-height: 20px;
}
/* FOOTER */
footer {
    background-color: var(--color3);
    height: 13vh;
    margin-top: 2%;
    padding: 2%;
    text-align: center;
}
footer nav a>button {
    background-color: var(--color1);
    border: none;
    border-radius: 5px;
    font: bold 1em var(--font4);
    letter-spacing: 1px;
    margin: 0 1%;
    padding: 5px 10px;
}
footer nav a>button:hover {
    background-color: var(--color4);
    color: var(--color0);
    text-decoration: underline;
}
/* CELULAR */
@media (max-width: 450px) {
    header {height: 25vh; padding: 5% 0;}
    header>h1 {font-size: 2em;}
    header>p {display: none;}
    header nav a>button {margin: 2%;}
    main>h1 {font: 2.1em var(--font2); letter-spacing: 5px; padding: 5% 0 0;}
    section {margin: 5%;}
    footer {height: 15vh; margin-top: 5%; padding: 4% 0;}
    footer nav a>button {margin: 2%;}
}
/* TAGS CSS */